@import "reset.css";

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d1d1d1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1d1d1;
  height: 100vh;
}

form {
  max-width: 600px;
  width: 100%;
  padding: 50px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}


label {
  color: #2c2c2c;
  display: block;
  margin: 16px 0;
  font-size: 16px;
}

input {
  border: 1px solid #d1d1d1;
  color: #ababab;
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin: 8px 0;
  padding: 16px 24px;
  width: 100%;
  border-radius: 20px;
}

.title {
  color: #4e4e4e;
  font-size: 36px;
  font-weight: 700;
  margin: 24px 0;
  text-align: center;
}

button {
  background: #2c2c2c;
  border: none;
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin: 24px 0;
  padding: 16px;
  width: 100%;
  border-radius: 20px;
}

.text {
  display: none;
}

#errorText {
  margin: 9px 0 -2px;
  font-size: 14px;
  line-height: 14px;
  color: red;
  display: none;
}

#trueText {
  margin: 9px 0 -2px;
  font-size: 14px;
  line-height: 14px;
  color: green;
  display: none;
}

#errorEmail {
  margin: 9px 0 -2px;
  font-size: 14px;
  line-height: 14px;
  color: red;
  display: none;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  form {
    max-width: 400px;
    width: 100%;
    padding: 25px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }

  .container {
    margin: 10% 0;
    height: 100%;
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
  form {
    max-width: 400px;
    width: 100%;
    padding: 25px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }

  .container {
    margin: 10% 0;
    height: 100%;
  }


}