*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

ul,li {
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}
/*글 리스트 페이지 */
.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_title{
    margin-bottom: 30px;
}

.board_title strong {
    font-size: 3rem;
}

.board_title p {
    margin-top:5px; 
    font-size: 1.4rem;
}

.bt_wrap{
    margin-top: 30px;
    text-align: center;
    font-size: 0px ;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;

}

.bt_wrap a:first-child {
    margin-left:0px;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list>div {
    border-bottom: 1px solid #ddd;
    font-size: 0;

}

.board_list>div.top {
    border-color: #999;
}

.board_list>div:last-child {
    border-bottom: 1px solid #000;
}

.board_list>div>div {
    display: inline-block;
    font-size: 1.4rem;
    text-align: center;
    padding: 15px 0;
}

.board_list>div.top >div{
    font-weight: 600;
}

.board_list .num {
    width: 10%;

}
.board_list .title{
    width: 60%;
    text-align: left;
}

.board_list .top .title{
    text-align: center;
}

.board_list .writer {
    width: 10%;

}
.board_list .date {
    width: 10%;

}
.board_list .count{
    width: 10%;

}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
    
}

.board_page a .bt{
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.4rem;
}

.board_page a.num.on {
    border-color:  #000;
    background: #000;
    color:#fff;
}

.board_page a:first-child {

    border-left: 1px solid #ddd;
}

/* 글 보기 페이지 */
.board_view {
    width: 100%;
    border-top: 2px solid #000;
   
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 2rem;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;

}

.board_view .info dl{
    display: inline-block;
    padding: 0 20px;
    position: relative;
}

.board_view .info dl:first-child{
    padding-left: 0px;
}

/* 정보란 앞 줄 모양 만드는법 */
.board_view .info dl::before{
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background: #ddd;
}

/*번호 앞에 라인은 왜 안사라지지.:앞에 스페이스 있어서 인식안됐음.*/
.board_view .info dl:first-child::before{
    display: none;
}

.board_view .info dl dd,
.board_view .info dl dt{
    display: inline-block;
    font-size: 1.4rem;
}

.board_view .info dl dd{
   margin-left: 10px;
   color: #777;
}

.board_view .info dl dt {
}

.board_view .cont {
    padding: 15px;
    border-bottom: 1px solid #000;
    line-height: 160%;
    font-size: 1.4rem;
}

/*글쓰기 페이지 */
.board_write {
    width: 100%;
    border-top: 2px solid #000;
}

.board_write .title,
.board_write .info{
    padding: 15px;
}

.board_write .info{
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #000;
    font-size: 0;
}


.board_write .info dl{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd{
    display:inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board_write .title dt,
.board_write .info dt {
    width: 100px;
}
   

.board_write .title dl {
    font-size: 0;
}
.board_write .title dd{
    width: calc(100% - 100px);
}

.board_write .title input[type="text"],
.board_write .info input[type="text"],
.board_write .info input[type="password"]{
padding: 10px;
box-sizing: border-box;}



.board_write .title input[type="text"] {
    width: 80%;
}



.board_write .cont{
    border-bottom: 1px solid #000;
}

.board_write .cont textarea{
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}


/*여기서 부터 댓글 란입니다.*/
h3{
    padding-top: 30px;
    font-size: 2.4rem;
    padding-left: 0;
    border-bottom: 1px solid #ddd;
}

.comment_wrap{ 
    margin: 30px;
   
}

.text-form-wrap{
    border-bottom: 1px dashed #999;
}
.text-form{
    margin-bottom: 40px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    appearance: none;
}

.text_bt{
    margin-bottom: 30px;
    text-align: center;
    display: inline-block;
    min-width: 50px;
    margin-left: 10px;
    padding: 1px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
    
}


.first-comment{ 
    margin: 30px;
}

.user1 { 
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 5px;
   
}

.comment_cont{
    font-size: 15px;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
  .board_wrap {
    width: 350px;
  }

}