<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejsTest</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
    <h1 class="text-bg-primary p-3">Test</h1>
    <p class="text-bg-primary p-3">rddddddsfasdf</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt excepturi reprehenderit voluptatem a ducimus, totam placeat maxime et, magni facere commodi ullam. Est dolorem cumque, maxime at modi ratione!</p>
    <p><%= 10 * 8 %></p>

    <br>

    <form action="/login/jwtLogin/logOut" id="logOutTest" method="get">
        <button type="submit" form="logOutTest">logOut!!!</button>
    </form>

    <br>

    <form action="/login/jwtLogin/profile" id="profiletest" method="get">
        <button type="submit" form="profiletest">get_profile!!!</button>
    </form>

    <br>

    <form action="/list/list/getList" id="listtest" method="get">
        <button type="submit" form="listtest">view list!!!!</button>
    </form>

    <br>

    <form action="/post/post/getPostList/1" id="postlisttest" method="get">
        <button type="submit" form="postlisttest">view Post List!!!!</button>
    </form>

    <br>

    <form action="/imgTest" id="imgTest" method="get">
        <button type="submit" form="imgTest">go to imgTest!</button>
    </form>

    <br>

    <form action="/login/signUp/delete" id="deletetest" method="get">
        <button type="submit" form="deletetest">회원 탈퇴!!!!</button>
    </form>
</body>
</html>
