<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejsTest</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
    <h1 class="text-bg-primary p-3">게시판 테스트</h1>
    <p class="text-bg-primary p-3">게시판을 테스트합니다.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt excepturi reprehenderit voluptatem a ducimus, totam placeat maxime et, magni facere commodi ullam. Est dolorem cumque, maxime at modi ratione!</p>

    <br>
    <h1>유저 리스트</h1>

    <table>
        <tr>
            <td>번호</td>
            <td>아이디</td>
            <td>이름</td>
            <td>이메일</td>
        </tr>
        <%
        let data;
        let count = 1;
        for(var i=0; i<lists.length; i++)
        {
            data = lists[i];
        %>
        <tr>
            <td><%=count%></td>
            <%count++;%>
            <td><%=data.userId%></td>
            <td><%=data.name%></td>
            <td><%=data.emailAddress%></td>
        </tr>
        <%}%>
    </table>

    <form action="/home" id="goToHome" method="get">
        <button type="submit" form="goToHome">홈으로,,,</button>
    </form>
</body>
    <!-- <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script> -->
</html>
