<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejsTest</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
    <h1 class="text-bg-primary p-3">Test</h1>
    <p class="text-bg-primary p-3">rddddddsfasdf</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt excepturi reprehenderit voluptatem a ducimus, totam placeat maxime et, magni facere commodi ullam. Est dolorem cumque, maxime at modi ratione!</p>
    <p><%= 10 * 8 %></p>

    <form action="http://localhost:3000/login/jwtLogin/signIn" id="loginTest" method="post">
        ID <input type="text" name="userId" id="userId" value="TestUser22">
        PW <input type="text" name="pw" id="pw" value="testpw22">
        <button type="submit" form="loginTest">signIn!!!</button>
    </form>

    <br>

    <form action="http://localhost:3000/login/signUp/signUp" id="createtest" method="post">
        new id<input type="text" name="userId" id="userId">
        pw<input type="text" name="pw" id="pw">
        <br>
        name<input type="text" name="name" id="name">
        email<input type="text" name="emailAddress" id="emailAddress">
        <button type="submit" form="createtest">signUp!!!</button>
    </form>
</body>
    <!-- <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script> -->
</html>
